/* GLOBAL STYLES */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

hr {
    border-top: 1px solid #ccc; 
    margin: 15px auto; 
    width: 100%; 
}


/* LINKS */

a {
    color: blanchedalmond;
    text-decoration: none;
}

a:hover {
    color: aquamarine;
}

a:visited {     
    color: aqua;
}

a:active {
    color: rgb(38, 0, 255);
}

button:default{
    background-color: rgb(240, 240, 240);
}

button:hover{
    background-color: rgb(201, 201, 201);
}

button:active{
    background-color: rgb(194, 170, 170);
}

/* NAVBAR */

.nav-container {
    display: flex;
    flex-direction: column;
    min-height: 60px;
    width: 100%;
}

.navbar {
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    position: relative;
    z-index: 1000;
}

.navbar__img {
    width: 55px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding-left: 5px;
    margin-top: 0px;
}

.navbar__button_group {
    padding-right: 5px;
}

.navbar__button {
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* MAIN HEADER */

.main-header {
    text-align: center;
    margin: 50px;
    width: 100%;
}

.main-header__title h1 {
    font-size: 50px;
}

/* CONTENT BOX */

.content-box {
    margin-bottom: 50px;
    width: 90%;
    max-width: 1200px;
    background-color: rgb(217, 201, 156);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    gap: 1rem;
}

.content-box p {
    font-size: 30px;
    text-align: center;
    line-height: 3;
}

#content-box {
    margin-bottom: 50px;
    width: 90%;
    max-width: 1200px;
    background-color: rgb(217, 201, 156);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    line-height: 1.4;
}

#content-box h3, #content-box p{
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}



.info h2{
    font-size: 35px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.info h3{
    font-size: 25px;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 20px;
}

.info p{
    font-size: 20px;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 40px;
}

.info article{
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
    
    font-size: 20px;
    text-align: justify;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

#work-info h2{
    font-size: 35px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

#work-info h3{
    font-size: 25px;
    text-align: left;
    margin-bottom: 5px;
}

#work-info p{
    font-size: 20px;
    text-align: left;
    margin-bottom: 5px;
}

iframe, #content-box img, video {
    display: none;
    visibility: hidden;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    border: 0;
}


/* FOOTER */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 20px;
    background-color: rgb(56, 56, 56);
    color: #fff;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contact-list {
    list-style: none;
}